.calculator {
    border: 2px solid grey;
    padding: 10px;
    display: inline-block;
    width: 50%;
    border-radius: 10px;
    background-color: slategrey;
}

.result {
    border: 1px solid grey;
    margin-bottom: 10px;
    border-radius: 10px;
    padding-left: 5px;
    height: 30px;
    display: flex;
    align-items: center;
    background-color: white;
}

.result-text {
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.row {
    display: flex;
    height: 30px;
    gap: 5px;
    margin-top: 10px;
}

.btn {
    flex: 1;
    background-color: gainsboro;
    border: 1.5px solid grey;
    border-radius: 20px;
}

.grey button {
    background: darkgrey;
}

.btn:hover {
    opacity: 80%;
}

.btn:active {
    background-color: slategrey;
}

.main-btns {
    display: flex;
    gap: 5px;
}

.numbers {
    flex: 4;
}

.equal-btn {
    flex: 1;
    margin-top: 10px;
}
