/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
} */
body {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    background-image: url(dogwallpaper.jpg);
    background-size:80dvh

}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
}

.wrapper > *{
    padding: 40px;
    margin: 10px;
    flex: 1 100%;
}

.header {
    background-color: #28dffb;
    height: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
    border: 20px solid #ffffff;
    border-radius: 55px;
}

header {
    background-color: hsl(0, 0%, 86%);
    text-align: center;
}


.logo {
    font-size: 47px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;

}

.navbar a {
    position: relative;
    font-size: 25px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    margin-left: 40px;
    padding-top: 3px;

}


.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #fff;
    transition: .2s;
}

.navbar a:hover::before {
    width: 100%;
} 

#photo1, #photo2, #photo3, #photo4 {
    border: 10px solid #ffffff;
    border-radius: 55px;
    height: 400px;
    width: 400px;
    flex-wrap: wrap;

}

.footer {
    background-color: #1db28f;
    height: 400px;
    border: 20px solid #ffffff;
    border-radius: 55px;
}

.contact {
    display: flex;
    padding-top: 0px;
    padding-bottom: 20px;
    height: 400px;
    width: 50%;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    border: 20px solid #fff;
    border-radius: 55px;
    background-color: #28dffb;
    
}

#attributes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    background-color: #28a7fb;
    height: 600px;
    border: 20px solid #ffffff;
    border-radius: 55px;
}

.side1 {
    background-color: #28a7fb;
    height: 400px;
    border: 20px solid #ffffff;
    border-radius: 55px;
    
}

.side2 {
    background-color: #28a7fb;
    height: 800px;
    border: 20px solid #ffffff;
    border-radius: 55px;
    
}

@media all and (min-width: 800px) {
    
.main{
    flex: 2;
}
.side1{
    order: 1;
}
.side2{
    order: 2;
}
.main{
    order: 2;
}
.footer{
    order: 4;
}
.contact{
    order: 5;
    
}

}

@media all and (min-width: 600px){
    .side{
        flex: 4;
    }
    
    
} 
